{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for question in questions %}
                <div class="question">
                    <h3 class="question-title"><a href="{{ question.get_url }}">{{ question.title }}</a></h3>
                    <div class="question-text">{{ question.text }}</div>
                </div>
            {% endfor %}
            <ul class="pagination">
                {% for page in pages %}
                    {% if page == current_page %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                            <a href="?page={{ page }}">{{ page }}</a>
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}